<h1>Loan Form</h1>
<br>
<% if @loan.open? %>
  Principal Amount: <%= @loan.principal_amount %><br>
  Interest Rate: <%= @loan.interest_rate %>
<% else %>
  <%= form_for @loan, url: admin_loan_path(@loan) do |form| %>
    Loan Status: <span class="badge text-bg-secondary"><%= @loan.state_text %></span><br>
    <br>
    <%= form.label :principal_amount, 'Principal Amount', class: "form-label" %>
    <%= form.text_field :principal_amount, class: "form-control" %><br />
    <%= form.label :interest_rate, 'Interest Rate', class: "form-label" %>
    <%= form.text_field :interest_rate, class: "form-control" %><br>
    <% if @loan.requested? || @loan.readjustment_requested? %>
      <%= form.submit "Change and Request", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>

<% if @loan.open? %>
  <br>
  Amount to Pay: <%= text_field_tag :total_amount_to_pay, @loan.total_amount_to_pay, class: "form-label" %><br>
  Tenure Limit: <%= text_field_tag :tenure_limit, @loan.tenure_limit, class: "form-label" %><br>
<% end %>

<% if @loan.requested? || @loan.readjustment_requested? %>
  <%= link_to "Reject", reject_admin_loan_path(@loan), data: { turbo_method: :patch } %>
<% end %>

<% if @loan.requested? || @loan.readjustment_requested? %>
  <%= link_to "Approve", approve_admin_loan_path(@loan), data: { turbo_method: :patch } %>
<% end %>
<%= render partial: "shared/loan_event_logs", locals: {loan: @loan} %>