<h1>Loan Form</h1>
<div class="">
  <%= form_for @loan, url: admin_loan_path(@loan) do |form| %>
    Loan Status: <span class="badge text-bg-secondary"><%= @loan.state_text %></span><br>
    <%= form.label :principal_amount, 'Principal Amount', class: "form-label" %>
    <%= form.text_field :principal_amount, class: "form-control" %><br />
    <%= form.label :interest_rate, 'Interest Rate', class: "form-label" %>
    <%= form.text_field :interest_rate, class: "form-control" %><br>
    <% if @loan.requested? || @loan.readjustment_requested? %>
      <%= form.submit "Change and Request", class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <% if @loan.open? %>
    Amount to Pay: <%= @loan.total_amount_to_pay %><br>
    Tenure Limit: <%= @loan.tenure_limit %>
  <% end %>

  <% if @loan.requested? || @loan.readjustment_requested? %>
    <%= link_to "Reject", reject_admin_loan_path(@loan), data: { turbo_method: :patch } %>
  <% end %>

  <% if @loan.requested? || @loan.readjustment_requested? %>
    <%= link_to "Approve", approve_admin_loan_path(@loan), data: { turbo_method: :patch } %>
  <% end %>
</div>
<%= render partial: "shared/loan_event_logs", locals: {loan: @loan} %>