<tr>
  <% if current_user.admin? %>
    <td><%= loan.user&.email %></td>
    <td><%= loan.state %></td>
  <% end %>
  <td><%= loan.principal_amount %></td>
  <td><%= loan.interest_rate %></td>
  <td>
    <% if current_user.admin? %>
      <%= link_to "Take action", edit_admin_loan_path(loan) %>
    <% else %>
      <%= link_to "Take action", edit_client_loan_path(loan) %>
    <% end %>
  </td>
</tr>