<% if @loans.present? %>
  <br>
  <table class="table table-striped">
    <tr>
      <th>State</th>
      <th>Principal Amount</th>
      <th>Interest Rate</th>
      <th>Action</th>
      <% if current_user.admin? %>
        <th>Client Email</th>
      <% end %>
    </tr>
    <% loans.each do |loan| %>
      <tr>
        <td><%= loan.state_text %></td>
        <td><%= loan.principal_amount %></td>
        <td><%= loan.interest_rate %></td>
        <td>
          <% if current_user.admin? %>
            <%= link_to "Show", edit_admin_loan_path(loan) %>
          <% else %>
            <%= link_to "Show", edit_client_loan_path(loan) %>
          <% end %>
        </td>
        <% if current_user.admin? %>
          <td>
            <%= loan.user.email %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <center>No loans to show</center><br>
<% end %>