<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Money Lending App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Home", root_path %>
    <% if current_user.present? %>
      <% if current_user.admin? %>
        Logged in as Admin
      <% else %>
        Logged in as Client
      <% end %>
      <%= link_to "Logout", session_path(current_user), data: { turbo_method: :delete } %>
    <% end %>
    <%= yield %>
  </body>
</html>
