<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Money Lending App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <% if current_user.present? %>
          <button type="button" class="btn btn-secondary">
            Wallet Amount: <span class="text-warning"><%= current_user.wallet.amount %></span>
          </button>
        <% end %>
          <%= link_to "Money Lending App", root_path, class: "navbar-brand" %>
        <% if current_user.present? %>
          <span class="navbar-text">
            <% if current_user.admin? %>
              Logged in as Admin
            <% else %>
              Logged in as Client
            <% end %>
            <%= link_to "Logout", session_path(current_user), data: { turbo_method: :delete } %>
          </spam>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
